*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    /* z-index: 1000; */
    background-image: linear-gradient(to left, rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(image/pexels-expect-best-323780.jpg);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    /* background-color: #262626; */
}

li{
    list-style: none;
}

a{
    font-size:20px;
    font-weight: 500;
    color:#fff;
    text-decoration: none;
}
 a.active{
    color: orange;
 }

.logo{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

span{
    color: #ffa500;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 20px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: #ebd2a5;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;

}

@media (max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 70%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-link{
        margin: 10px;
        padding-bottom: 10px;
    }

    .nav-menu.active {
        left: 0;
    }
}
